<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dsi.furore">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelfieTimeline"
            android:label="@string/title_activity_selfie_timeline"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.MainActivity" />
        </activity>

        <service
            android:name=".uploadImage"
            android:exported="true" />

        <activity
            android:name=".SelfieDetails"
            android:label="@string/title_activity_selfie_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.SelfieTimeline" />
        </activity>
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash" />
        <activity
            android:name=".Facebook"
            android:label="@string/title_activity_facebook" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FuroreSchedule"
            android:label="@string/title_activity_furore_timeline" />
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.MainActivity" />
        </activity>
        <activity
            android:name=".uploadPreview"
            android:label="@string/title_activity_upload_preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.SelfieTimeline" />
        </activity>
        <activity
            android:name=".DJNight"
            android:label="@string/title_activity_upload_preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.MainActivity" />
        </activity>
        <activity
            android:name=".Sponsors"
            android:label="@string/title_activity_upload_preview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dsi.furore.MainActivity" />
        </activity>
    </application>

</manifest>
